.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  max-width: 345px;
}
.columns__wDsuS {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  background: #ffffff;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  border-radius: 6px;
  padding: 8px;
  border: 1px solid #bbb4b4;
}
.columns__wDsuS > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wDsuS {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wDsuS > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__yoDsG {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px;
}
.freeBox__eGwz1 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  min-width: 0;
  padding: 8px;
}
.text__gcEy1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 10px;
  padding-right: 8px;
  color: #029df2;
  min-width: 0;
}
.img {
  object-fit: contain;
  max-width: 100%;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  border-radius: 70px;
}
.img > picture > img {
  object-fit: contain;
}
.column___4F3S1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 12px;
}
.text___5Uhcu {
  position: relative;
  font-size: 10px;
  text-align: justify;
}
.column__foTz0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__qEyXv {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 84px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.columns__p5FMo {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns__p5FMo > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__p5FMo > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 1 / 12);
}
.columns__p5FMo > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 1 / 12);
}
.columns__p5FMo > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 7 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__p5FMo {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__p5FMo > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__peujS {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__asBik {
  position: relative;
  background: #e5e5e5;
  align-self: center;
  max-width: 100%;
  height: auto;
  width: 57px;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  border-radius: 3px;
  padding: 0px 3px;
}
.text__hqAMm {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 8px;
  padding-right: 0px;
  align-self: center;
  min-width: 0;
}
.svg__rXqZp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #818181;
  align-self: center;
  width: 10px;
  flex-shrink: 0;
  height: 1em;
}
.column__trzJu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.column__omMM {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.column__sRfA {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffad0033;
  min-width: 0;
  border-radius: 6px;
  padding: 0px;
}
.freeBox__uy8Ft {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 186px;
  height: 100%;
  max-width: 100%;
  align-self: center;
  min-height: 0;
  padding: 0px 3px;
}
.freeBox__zGqsn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  min-height: 0;
  padding: 4px 2px 4px 1px;
}
.freeBox__zGqsn > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.freeBox__zGqsn > :global(.__wab_flex-container) > *,
.freeBox__zGqsn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zGqsn > :global(.__wab_flex-container) > picture > img,
.freeBox__zGqsn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 2px;
}
.text__qCiA {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 7px;
  align-self: center;
  padding-right: 2.5px;
  padding-bottom: 0px;
  min-width: 0;
}
.columns__arRsx {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  min-height: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns__arRsx > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__arRsx > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__arRsx {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__arRsx > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__tk60U {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 2px;
}
.button__l6NRw:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__gRuNh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___9MybQ {
  font-size: 8px;
}
.svg__lb7Hg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 10px;
  margin-left: 3px;
  height: 1em;
}
.svg__wWdur {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__hCtZk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 2px;
}
.button__eBhzn:global(.__wab_instance) {
  max-width: 100%;
  height: 100%;
  width: 100%;
  position: relative;
  min-width: 0;
  min-height: 0;
}
.svg__w7NIm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__s8Dqk {
  font-size: 8px;
}
.svg__tsHts {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 10px;
  margin-left: 3px;
  height: 1em;
}
.svg__deqIb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__mY7Lz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 2px;
}
.button__agmYj:global(.__wab_instance) {
  max-width: 100%;
  height: 100%;
  width: 100%;
  position: relative;
  min-width: 0;
  min-height: 0;
}
.svg___58Dqj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__dQxHx {
  font-size: 8px;
}
.svg__pgJHo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 10px;
  margin-left: 3px;
  height: 1em;
}
.svg__aEejM {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__zwG5Q {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 2px;
}
.button__fi1Pl:global(.__wab_instance) {
  max-width: 100%;
  height: 100%;
  width: 100%;
  position: relative;
  min-width: 0;
  min-height: 0;
}
.svg__f4KT7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__gr8ER {
  font-size: 8px;
}
.svg__dURk9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 10px;
  margin-left: 3px;
  height: 1em;
}
.svg___1Engr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
