.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  max-width: 345px;
}
.columns__rOdDw {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  background: #ffffff;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  border-radius: 6px;
  padding: 8px;
  border: 1px solid #bbb4b4;
}
.columns__rOdDw > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rOdDw {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rOdDw > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___8FJdf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px;
}
.freeBox__ay769 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  min-width: 0;
  padding: 8px;
}
.text__fx7Lr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 10px;
  padding-right: 8px;
  color: #029df2;
  min-width: 0;
}
.img {
  object-fit: contain;
  max-width: 100%;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  border-radius: 70px;
}
.img > picture > img {
  object-fit: contain;
}
.column__et9TX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 12px;
}
.text__c6Ug3 {
  position: relative;
  font-size: 10px;
  text-align: justify;
}
.column__rZ5Bq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__naPl {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 66px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.columns__vmzZp {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns__vmzZp > :nth-child(5n + 1) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__vmzZp > :nth-child(5n + 2) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__vmzZp > :nth-child(5n + 3) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 1 / 12);
}
.columns__vmzZp > :nth-child(5n + 4) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__vmzZp > :nth-child(5n + 5) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vmzZp {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vmzZp > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__rJVpg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__wpANl {
  position: relative;
  background: #e5e5e5;
  align-self: center;
  max-width: 100%;
  height: auto;
  width: 57px;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  border-radius: 3px;
  padding: 0px 3px;
}
.text__bJuJ {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 8px;
  padding-right: 0px;
  align-self: center;
  min-width: 0;
}
.svg__yUkm8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #818181;
  align-self: center;
  width: 10px;
  flex-shrink: 0;
  height: 1em;
}
.column___81RXl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.column___5Sd2X {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.column___4Tne7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.column__amHas {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffad0094;
  min-width: 0;
  border-radius: 6px;
  padding: 0px;
}
.freeBox___2FuEo {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 92px;
  height: 100%;
  max-width: 100%;
  align-self: center;
  min-height: 0;
  padding: 0px 3px;
}
.svg__au3Z {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #31a05f;
  margin-right: 2px;
  margin-left: 2px;
  width: 15px;
  align-self: center;
  flex-shrink: 0;
  height: 1em;
}
.freeBox__vrbfx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  min-height: 0;
  padding: 4px 3px;
}
.freeBox__vrbfx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.freeBox__vrbfx > :global(.__wab_flex-container) > *,
.freeBox__vrbfx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vrbfx > :global(.__wab_flex-container) > picture > img,
.freeBox__vrbfx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 2px;
}
.text__qh4C {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 7px;
  align-self: center;
  padding-right: 2.5px;
  padding-bottom: 0px;
  min-width: 0;
}
.text__uzWpd {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 10px;
  color: #57ad64;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}
.svg__p02Cc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  margin-right: 2px;
  margin-left: 2px;
  color: #f42f2f;
  align-self: center;
  flex-shrink: 0;
  height: 1em;
}
