.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  max-width: 345px;
}
.columns__dz0Z6 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  background: #ffffff;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  border-radius: 6px;
  padding: 8px;
  border: 1px solid #bbb4b4;
}
.columns__dz0Z6 > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dz0Z6 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dz0Z6 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__zYRi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px;
}
.freeBox__iqc2W {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  min-width: 0;
  padding: 8px;
}
.text__ew8Pn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 10px;
  padding-right: 8px;
  color: #029df2;
  min-width: 0;
}
.img {
  object-fit: contain;
  max-width: 100%;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  border-radius: 70px;
}
.img > picture > img {
  object-fit: contain;
}
.column__shFvu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 12px;
}
.text__sXpPs {
  position: relative;
  font-size: 10px;
  text-align: justify;
}
.column__rY7Vx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__q870W {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 66px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px 8px;
}
.columns__jst2K {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns__jst2K > :nth-child(5n + 1) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__jst2K > :nth-child(5n + 2) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__jst2K > :nth-child(5n + 3) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 1 / 12);
}
.columns__jst2K > :nth-child(5n + 4) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__jst2K > :nth-child(5n + 5) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jst2K {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jst2K > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__vErY {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox___2H3Pz {
  position: relative;
  background: #e5e5e5;
  align-self: center;
  max-width: 100%;
  height: auto;
  width: 57px;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  border-radius: 3px;
  padding: 0px 3px;
}
.text___8Rd23 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 8px;
  padding-right: 0px;
  align-self: center;
  min-width: 0;
}
.svg__c3DN {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #818181;
  align-self: center;
  width: 10px;
  flex-shrink: 0;
  height: 1em;
}
.column__l2Hmm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.column__sJn9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.column__lReVu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.column__p4Yfy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffad0094;
  min-width: 0;
  border-radius: 6px;
  padding: 0px;
}
.freeBox__tbQkj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 100%;
  max-width: 100%;
  align-self: center;
  min-height: 0;
  padding: 0px;
}
.freeBox__a1EnS {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  min-height: 0;
  padding: 4px 2px 4px 1px;
}
.freeBox__a1EnS > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.freeBox__a1EnS > :global(.__wab_flex-container) > *,
.freeBox__a1EnS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__a1EnS > :global(.__wab_flex-container) > picture > img,
.freeBox__a1EnS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 2px;
}
.freeBox__zQcPg {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 83px;
  height: auto;
  max-width: 100%;
  padding: 3px 1px 2px;
}
.freeBox__zQcPg > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 3px);
  width: calc(100% + 3px);
}
.freeBox__zQcPg > :global(.__wab_flex-container) > *,
.freeBox__zQcPg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zQcPg > :global(.__wab_flex-container) > picture > img,
.freeBox__zQcPg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 3px;
}
.svg__y5JcK {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 14px;
  flex-shrink: 0;
  height: 1em;
  display: none;
}
.svg__yjjSd {
  object-fit: cover;
  max-width: 100%;
  width: 14px;
  flex-shrink: 0;
  height: 1em;
  display: none;
}
.svg___65VvZ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 14px;
  flex-shrink: 0;
  height: 1em;
  display: none;
}
.svg__nZdtq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 37px;
  height: 34px;
  flex-shrink: 0;
}
.svg__t1ZUz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 14px;
  flex-shrink: 0;
  height: 1em;
  display: none;
}
.text__ugMs8 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 5px;
  align-self: center;
  padding-right: 2.5px;
  padding-bottom: 0px;
  min-width: 0;
}
.freeBox__umNUz {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__umNUz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 2px);
  width: calc(100% + 2px);
}
.freeBox__umNUz > :global(.__wab_flex-container) > *,
.freeBox__umNUz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__umNUz > :global(.__wab_flex-container) > picture > img,
.freeBox__umNUz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 2px;
}
.svg__lRoGi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 10px;
  color: #e53e3e;
}
.svg__aaTd3 {
  object-fit: cover;
  max-width: 100%;
  height: 8px;
  color: #e53e3e;
}
.svg__jGSf {
  object-fit: cover;
  max-width: 100%;
  width: 11px;
  height: 6px;
  flex-shrink: 0;
}
.svg__chQaA {
  object-fit: cover;
  max-width: 100%;
  height: 8px;
  color: #3aa065;
}
.svg__tMl1N {
  object-fit: cover;
  max-width: 100%;
  height: 10px;
  color: #3aa065;
}
