.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  max-width: 345px;
  min-width: 0;
}
.columns__igTt {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  background: #ffffff;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  border-radius: 6px;
  padding: 8px;
  border: 1px solid #bbb4b4;
}
.columns__igTt > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__igTt {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__igTt > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__bJ4Mh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px;
}
.freeBox__ickPe {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  min-width: 0;
  padding: 8px;
}
.text__pXlvF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 10px;
  padding-right: 8px;
  color: #029df2;
  min-width: 0;
}
.img {
  object-fit: contain;
  max-width: 100%;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  border-radius: 70px;
}
.img > picture > img {
  object-fit: contain;
}
.column__byN {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 12px;
}
.text__wJcQn {
  position: relative;
  font-size: 10px;
  text-align: justify;
}
.column___8NiWc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__c7Wnm {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 81px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.columns__vldFg {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns__vldFg > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__vldFg > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__vldFg > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 7 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vldFg {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vldFg > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__q5Q3X {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__g2Ese {
  position: relative;
  background: #e5e5e5;
  align-self: center;
  max-width: 100%;
  height: auto;
  width: 57px;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  border-radius: 3px;
  padding: 0px 3px;
}
.text__kCwDq {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 8px;
  padding-right: 0px;
  align-self: center;
  min-width: 0;
}
.svg___27ZVm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #818181;
  align-self: center;
  width: 10px;
  flex-shrink: 0;
  height: 1em;
}
.column__aPjaH {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.column__ppVc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffad0094;
  min-width: 0;
  border-radius: 6px;
  padding: 0px;
}
.freeBox__smumb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 5px;
}
.freeBox___79JRf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-left: 2px;
  margin-right: 2px;
  padding: 2px;
}
.svg__d5B2D {
  object-fit: cover;
  max-width: 100%;
  color: #f42f2f;
  width: 14px;
  height: 1em;
  flex-shrink: 0;
}
.freeBox__dyipr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-left: 2px;
  margin-right: 2px;
  padding: 2px;
}
.svg__fojfq {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  height: 1em;
  flex-shrink: 0;
}
.text__o4PHn {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 13px;
  align-self: center;
  padding-right: 8px;
  min-width: 0;
}
